.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.builtBy {
  margin-top: -13px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.message {
  /*background-color: #61DAFB;*/
  background-color: #222;
  color: white;
  /*border: solid 1px #61DAFB;*/
  border: solid 1px #222;
  border-radius: 14px;
  position: absolute;
  text-align: center;
  width:200px;
  left: 50%;
  margin-left:-100px;
  top: 200px;
}

.form {
  margin-top: 50px;
}

.board {
  position: absolute;
  display: flex;
  top: 250px;
  left: 35%;
}

.square {
  /*background-color: #fff;*/
  background-color: #222;
  color: white;

  border: 1px solid #999;
  width: 100px;
  height: 100px;
  font-size: 3.5em;
  border-radius: 14px;
  cursor: pointer;
  margin: 2px;
}

.square:hover {
  background-color: grey;
}

.startNewGame {
  margin-top: 38px;
}